/*  Portrait phone view going up to landscape views */
@media screen and (max-width: 500px) {
  .container {
    width: 100vw;
  	display: flex;
    flex-direction: column;
  }
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .filter-options a {font-size: 20px}
  .filter-options .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*  Right around 425px something goes awry.*/
