/*  Portrait phone view going up to landscape views */
@media screen and (max-width: 500px) {
  .container {
    width: 100vw;
  	display: flex;
    flex-direction: column;
  }

  #breadcrumb {
      padding: 10px 40px 16px;
      list-style: none;
      background-color: #eee;
      font-size: 50px;
      margin: 0;
      width: 100%;
  }

  /* Display list items side by side */
  #breadcrumb li {
      display: inline;
  }

  /* Add a slash symbol (/) before/behind each list item */
  #breadcrumb li+li:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
  }

  /* Add a color to all links inside the list */
  #breadcrumb li a {
      color: #0275d8;
      text-decoration: none;
  }

  /* Add a color on mouse-over */
  #breadcrumb li a:hover {
      color: #01447e;
      opacity: 50%;
      text-decoration: none;
  }



}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .filter-options a {font-size: 20px}
  .filter-options .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*  Right around 425px something goes awry.
364px seems to be the maximum width whereby the picture remains on par with the rest of the elements.
*/
