/* Desktop */
  @media screen and (min-width: 801px) {
    .container {
      width: 1440px;
      display: flex;
      flex-direction: row;
    }
    #restaurants-list li {
      margin: 0 auto;
    }
}
