/* Desktop */
  @media screen and (min-width: 801px) {
    /* body {
      width: 1440px;
    } */

    .container {
      width: 1440px;
      display: flex;
      flex-direction: row;
    }
    #restaurants-list a {
      margin: 0 auto;
    }
}
