/*  Tablet-sized Views */
@media screen and (min-width: 502px) and (max-width: 668px) {
  .container {
    float: left;
    width: calc((100% - 88px)/2);
  	display: flex;
    flex-direction: column;
  }
}
